@import "vendors/bootstrap";

@import "abstracts/variables";
@import "themes/theme";

.header{
  margin: auto;
  height: 100px;
  /*border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.links{
margin: 20px;
/*border: 1px solid red; */
width: 500px;
height: 100px;
display: flex;
justify-content: space-around;
align-items: center;

}
.brand-button, .make-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  color: black;
  border-radius: 30px;
}

.profile{
  /*border: 1px solid red; */
  display: flex;
  height: 100px;
  justify-content: center;
  align-items:center;
}

.main{
  border-radius: 20px;
  width: 400px;
  height: 60px;
}

.searchbox{
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /*border: 1px solid red; */
}


.carousel{
  height: 600px;
}

.carousel-item img{
  max-height: 600px;
}
.products{
flex-wrap: wrap;
display: flex;
justify-content:space-around;
align-items:center;
height: 500px;
}

.item{
  border: 1px solid black;
  background-color: orange;
  height: 500px;
  width: 500px;
}
